# Package directories
/node_modules
/*/node_modules
/dist
/lib
.build
/.serverless
/ncc

# IDE specific files
.vscode
.idea

# ENV variables and secrets
.env
aws.env

# Config files
**/airkeeper.json
**/config.json
**/secrets.env
serverless.yml
config.json
wallets.json
wallets-export.json
# Exports
/exports
/coverage